<div class="item">
  <div class="edit-item" *ngIf="review.status == ReviewStatus.New || review.status == ReviewStatus.Edit">
    <form #reviewForm="ngForm" (submit)="addReview()">
      <div class="edit-details"><input #inptName="ngModel" name="name" placeholder="name" [(ngModel)]="review.name" required></div>
      <div><textarea #inptCommente="ngModel" cols="30" rows="4" name="comment" placeholder="comment" [(ngModel)]="review.comment" required></textarea></div>
      <div class="edit-button">
        <button type="submit" [disabled]="!reviewForm.form.valid">{{review.status == ReviewStatus.New? 'Add' : 'Edit'}}</button>
      </div>
    </form>
  </div>
  <div class="regular" *ngIf="review.status == ReviewStatus.Regular">
    <div class="image">
      <img class="bounds" [src]="review.sourceImg"/>
    </div>
    <div class="details">
      <div class="name">{{review.name}}</div>
      <div class="comment">{{review.comment}}</div>
    </div>
    <div class="icons">
      <i class="material-icons" (click)="editReview();">edit</i>
      <i class="material-icons">delete</i>
    </div>
  </div>
</div>
